# AffordMed Campus Notifications Auth Token
VITE_AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJhbnViaGF2LjIzYjAxMDExODlAYWJlcy5hYy5pbiIsImV4cCI6MTc4MDk4NzU4NiwiaWF0IjoxNzgwOTg2Njg2LCJpc3MiOiJBZmZvcmQgTWVkaWNhbCBUZWNobm9sb2dpZXMgUHJpdmF0ZSBMaW1pdGVkIiwianRpIjoiOWZmMTUxNGItYmJkNi00ZjEwLWExY2EtYTlkMmM4MzljNGNlIiwibG9jYWxlIjoiZW4tSU4iLCJuYW1lIjoiYW51YmhhdiBndXB0YSIsInN1YiI6IjQ3ZWYxZTQzLWQ4ZGUtNGVjOC1hNmU5LTA0Yjc3NTljZTg4MyJ9LCJlbWFpbCI6ImFudWJoYXYuMjNiMDEwMTE4OUBhYmVzLmFjLmluIiwibmFtZSI6ImFudWJoYXYgZ3VwdGEiLCJyb2xsTm8iOiIyMzAwMzIwMTAwMDM4IiwiYWNjZXNzQ29kZSI6ImNYdXFodCIsImNsaWVudElEIjoiNDdlZjFlNDMtZDhkZS00ZWM4LWE2ZTktMDRiNzc1OWNlODgzIiwiY2xpZW50U2VjcmV0IjoidHBtdlhUUXZjQ1V6R0J2cyJ9.VN-08R7cdK-wKdE0a2mjys-d9JVs7Ed3qocSKFKVWow
